<h1>Hello There!</h1>
{{#each posts}}
<div class="post-homepage" data-post="{{id}}">
    <div class="post-header">
        <h3 class="post-title">{{title}}</h3>
        <h5 class="post-date">Posted by {{user.username}} on {{created_at}}</h5>
    </div>
    <div class="post-content">
        <p>{{post_content}}</p>
    </div>
</div>
{{/each}}